.pagination1 {
    list-style: none;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 5rem;
    font-size: 15px;
    gap: 5px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 40px;
    color: white;
  }
  .pagination1 .page-num1 {
    padding: 7px 15px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 400;
  }
  .pagination1 .page-next1 {
    background-color: deeppink;
    border: 1px solid deeppink;
    padding: 7px 30px;
    border-radius: 3px;
    font-weight: bold;
    color-scheme: White;
    text-transform: uppercase;
    font-size: 13px;
    cursor: pointer;
  }
  
  .pagination1 .active1 {
    background-color: deeppink;
  }